<div class="min-h-screen w-full">
  <div class="trans relative flex justify-center items-center min-h-screen bg-center bg-no-repeat bg-cover"
       *ngIf="image$ | async as image" [style.background-image]="'url(' + image + ')'"
  >
    <h1 class="capitalize text-white bg-font">apparel for confident women</h1>
  </div>


  <ng-container *ngIf="products$ | async as products">
    <div class="lg-scr py-4">
      <div class="p-3.5 text-center">
        <h1 class="capitalize"> featured collection </h1>
      </div>

      <div class="p-2 xl:p-0 grid grid-cols-2 md:grid-cols-3 gap-3">
        <button
          *ngFor="let product of products; let i = index"
        >
          <app-card
            [url]="product.image"
            [name]="product.name"
            [currency]="product.currency"
            [price]="product.price"
          ></app-card>
        </button>
      </div>

    </div>
  </ng-container>

</div>
