<div class="h-full w-full flex flex-col" >
  <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
    <img class="h-full w-full object-cover object-center lg:h-full lg:w-full" [src]="url" alt="image">
  </div>
  <!-- End of Image Container -->
  <div class="mt-4 flex justify-between">
    <div>
      <h3 class="text-sm text-gray-700">
        <a class="txt">
          {{ name }}
        </a>
      </h3>
      <!--      <p class="mt-1 text-sm text-gray-500">Black</p>-->
    </div>
    <p class="txt font-medium text-gray-900">{{ currency }}{{ price }}</p>
  </div>
</div>
