<ng-container *ngIf="productDetails$ | async as detail" [ngSwitch]="detail.state">
  <ng-container *ngSwitchCase="'LOADING'">
    <div class="lg-scr h-full p-20 flex justify-center items-center">
      <h1 class="capitalize text-[var(--app-theme-hover)]">
        loading...
      </h1>
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="'ERROR'">
    <div class="lg-scr mg-top p-10 text-3xl text-red-500">
      Error {{ detail.error }}
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="'LOADED'">

    <!-- Product Details  -->
    <div class="lg-scr mg-top w-full h-full flex flex-col" *ngIf="detail.data as details">

      <div class="w-full grid sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-2">

        <!-- Images -->
        <div class="p-2.5 flex max-[1028px]:flex-col-reverse lg:flex xl:flex gap-1.5 justify-center"
             *ngIf="currentItem$ | async as currentItem">

          <!-- image carousel -->
          <div class="flex gap-1.5 overflow-y-auto sm:flex-row md:flex-row lg:flex-col xl:flex-col">
            <button
              class="border-none outline-none bg-transparent min-h-[64px] min-w-[64px] max-h-[75px] max-w-[75px]"
              *ngFor="let img of currentItem.detail.url"
              (click)="currentItem.currImage = img"
            >
              <img
                class="w-full h-full object-cover object-center"
                [src]="img"
                alt="image"
              >
            </button>
          </div>

          <!-- Main display for image -->
          <div class="overflow-hidden rounded-sm flex-1">
            <img [src]="currentItem.currImage" alt="image" class="h-full w-full object-cover object-center">
          </div>

        </div>

        <!-- product detail -->
        <div class="p-2.5 flex flex-col gap-2">
          <h1 class="capitalize text-3xl font-bold">{{ details[0].name }}</h1>
          <h2 class="text-xl font-bold">{{ details[0].currency }}{{ details[0].price }}</h2>
          <h4 class="text-xl font-bold">Sku
            <span class="text-xs opacity-50">
              Yet to implement
            </span>
          </h4>

          <!-- Form -->
          <form class="flex flex-col gap-2" [formGroup]="reactiveForm">

            <!-- Form Contents -->
            <div class="flex gap-1.5">
              <!-- SKU -->
              <div class="hidden">
                <input name="sku" type="text" id="sku" formControlName="sku">
              </div>

              <!-- Colour -->
              <div class="">
                <select
                  name="colour"
                  formControlName="colour"
                  class="w-full p-1 rounded-md cursor-pointer border border-solid border-[var(--app-theme)]"
                  (change)="onclickColour($event)"
                >
                  <option value="" disabled [selected]="true">select a colour</option>
                  <option *ngFor="let d of detail.data" [value]="d.colour">
                    {{ d.colour }}
                  </option>
                </select>
              </div>

              <!-- Size -->
              <div *ngIf="currentItem$ | async as currentItem">
                <select
                  name="size"
                  class="w-full p-1 rounded-md cursor-pointer border border-solid border-[var(--app-theme)]"
                  formControlName="size"
                >
                  <option value="" disabled selected>select a size</option>
                  <option *ngFor="let variants of currentItem.detail.variants">
                    {{ variants.size }}
                  </option>
                </select>
              </div>

              <!-- Qty -->
              <div class="">
                <select
                  name="qty"
                  class="w-full p-1 rounded-md cursor-pointer border border-solid border-[var(--app-theme)]"
                  formControlName="qty"
                >
                  <option value="" disabled selected>select a quantity</option>
                  <option>
                    Qty: 10
                  </option>
                </select>
              </div>

            </div>

            <div>
              <button
                class="w-full p-5 uppercase border border-black hover:bg-black hover:text-white"
                type="submit"
                (click)="addToCart()"
              >
                add to cart
              </button>
            </div>
          </form>

          <!-- Description -->
          <div>
            <h2 class="w-fit capitalize border-b border-[var(--app-theme)]">description</h2>
            <p
              class="text-sm h-20 pt-3.5 break-words overflow-hidden"
              [innerHTML]="details[0].desc" [class.show]="showMore"
            ></p>
            <button *ngIf="details[0].desc.length > 0" class="outline-none border-none bg-transparent"
                    (click)="showMore = !showMore">
              <span class="lowercase text-[var(--app-theme-hover)]">
                {{ showMore ? 'Show less' : 'Show More' }}
              </span>
            </button>
          </div>

        </div>
        <!-- end of product detail -->
      </div>

      <div class="w-full flex-1 p-2.5 text-center">
        <h1><strong>TODO:</strong> You may also like </h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aspernatur consequatur dolore, error fuga
          inventore, iste maxime molestias nostrum, numquam tempora totam voluptatem voluptatibus? At blanditiis
          consequatur delectus et laudantium obcaecati quos recusandae saepe sint ut? Ab adipisci consequuntur est fuga,
          incidunt molestias nihil omnis perspiciatis sunt! Amet eveniet excepturi fugiat iure omnis, sequi. Ad delectus
          eius excepturi magnam officia possimus. Deleniti quod, vero. Culpa cumque, esse exercitationem fugiat iure non
          porro? Animi assumenda consequatur cumque cupiditate distinctio, eligendi explicabo magni modi necessitatibus,
          nisi porro, quisquam sit tenetur? Consequatur deserunt dolore dolorem dolores facere illo labore odit optio,
          perspiciatis, quae quasi quia quidem, repellendus reprehenderit sit totam ullam voluptatibus. Animi architecto
          autem consequatur dolores, eaque ex ipsam minus nostrum provident, quod reiciendis sapiente sed vitae.
          Adipisci, amet aut, consectetur, corporis enim esse maiores maxime nulla reiciendis repellat similique
          tempore. Accusantium ad alias atque blanditiis, consectetur cum distinctio dolore ea exercitationem facilis
          iusto laboriosam laudantium modi nam nesciunt officia omnis pariatur placeat quidem quod reprehenderit sed
          tempora veritatis voluptatem voluptatum! Accusamus asperiores at corporis earum eius eligendi excepturi,
          fugiat in libero magni minus, molestiae nam neque non nostrum nulla pariatur porro provident quaerat qui
          quis reprehenderit sequi suscipit ullam veritatis voluptatibus.
        </p>
      </div>
    </div>

    <!-- Cart component  -->
    <div class="z-15 fixed top-0 right-0 bottom-0 left-0" [style]="{ 'display': showCartComponent ? 'block' : 'none' }">
      <app-cart></app-cart>
    </div>

  </ng-container>
</ng-container>
