<ng-container *ngIf="productDetails$ | async as detail" [ngSwitch]="detail.state">

  <ng-container *ngSwitchCase="'LOADING'">Loading</ng-container>
  <ng-container *ngSwitchCase="'ERROR'">Error {{ detail.error }}</ng-container>
  <ng-container *ngSwitchCase="'LOADED'">

    <div class="lg-scr mg-top w-full h-full flex flex-col" *ngIf="detail.data as details">

      <div class="w-full max-w-full flex flex-1 max-[768px]:flex-col" *ngIf="currentItem$ | async as currentItem">

        <!-- Images -->
        <div class="p-2.5 flex flex-1 gap-1.5 justify-center max-[768px]:flex-col-reverse">

          <!-- image carousel -->
          <div class="flex md:max-h-[600px] gap-1.5 md:flex-col overflow-y-auto">
            <button
              class="border-none outline-none bg-transparent min-h-[64px] max-h-[70px] min-w-[64px] max-w-[70px]"
              *ngFor="let img of currentItem.detail.url"
              (click)="currentItem.currImage = img"
            >
              <img
                class="w-full h-full object-cover object-center"
                [src]="img"
                alt="image"
              >
            </button>
          </div>

          <!-- Main display for image -->
          <div class="overflow-hidden rounded-md min-w-[15.75rem] min-h-[15.75rem] lg:max-w-[40rem] lg:max-h-[40rem]">
            <img [src]="currentItem.currImage" alt="image" class="h-full w-full object-cover object-center">
          </div>
        </div>

        <!-- product detail -->
        <div class="p-2.5 flex flex-col gap-2 flex-1">
          <h1 class="capitalize text-3xl font-bold">{{ currentItem.detail.name }}</h1>
          <h2 class="text-xl font-bold">{{ currentItem.detail.currency }}{{ currentItem.detail.price }}</h2>

          <!-- Form -->
          <form class="flex flex-col gap-2" [formGroup]="reactiveForm" (ngSubmit)="addToCart()" >

            <!-- Form Contents -->
            <div class="flex gap-1.5">
              <!-- SKU -->
              <div class="flex flex-1 px-1 text-black opacity-60">
                <label for="sku" class="uppercase">sku:</label>
                <input name="sku"
                       type="text"
                       id="sku"
                       class="w-full"
                       formControlName="sku"
                >
              </div>

              <!-- Colour -->
              <div class="">
                <select name="colour" formControlName="colour" (change)="onclickColour($event)">
                  <option *ngFor="let d of details" [value]="d.sku">
                    {{ d.colour }}
                  </option>
                </select>
              </div>

              <!-- Size -->
              <div class="">
                <select name="size" formControlName="size">
                  <option>
                    Size: {{ currentItem.detail.size }}
                  </option>
                </select>
              </div>

              <!-- Qty -->
              <div class="" >
                <select name="qty" formControlName="qty">
                  <option>
                    Qty: 10
                  </option>
                </select>
              </div>
            </div>

            <div class="">
              <button
                class="w-full p-5 uppercase border border-black hover:bg-black hover:text-white"
                type="submit"
              >add to cart</button>
            </div>
          </form>

          <!-- Description -->
          <div>
            <h3 class="w-fit mb-4 capitalize border-b border-[var(--app-theme)]">description</h3>
            <p class="text-sm break-words" [innerHTML]="currentItem.detail.desc"></p>
          </div>
        </div>
        <!-- end of product detail -->
      </div>

      <div class="w-full flex-1 p-2.5 text-center">
        <h1> <strong>TODO:</strong> You may also like </h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aspernatur consequatur dolore, error fuga
          inventore, iste maxime molestias nostrum, numquam tempora totam voluptatem voluptatibus? At blanditiis
          consequatur delectus et laudantium obcaecati quos recusandae saepe sint ut? Ab adipisci consequuntur est fuga,
          incidunt molestias nihil omnis perspiciatis sunt! Amet eveniet excepturi fugiat iure omnis, sequi. Ad delectus
          eius excepturi magnam officia possimus. Deleniti quod, vero. Culpa cumque, esse exercitationem fugiat iure non
          porro? Animi assumenda consequatur cumque cupiditate distinctio, eligendi explicabo magni modi necessitatibus,
          nisi porro, quisquam sit tenetur? Consequatur deserunt dolore dolorem dolores facere illo labore odit optio,
          perspiciatis, quae quasi quia quidem, repellendus reprehenderit sit totam ullam voluptatibus. Animi architecto
          autem consequatur dolores, eaque ex ipsam minus nostrum provident, quod reiciendis sapiente sed vitae.
          Adipisci, amet aut, consectetur, corporis enim esse maiores maxime nulla reiciendis repellat similique
          tempore. Accusantium ad alias atque blanditiis, consectetur cum distinctio dolore ea exercitationem facilis
          iusto laboriosam laudantium modi nam nesciunt officia omnis pariatur placeat quidem quod reprehenderit sed
          tempora veritatis voluptatem voluptatum! Accusamus asperiores at corporis earum eius eligendi excepturi,
          fugiat in libero magni minus, molestiae nam neque non nostrum nulla pariatur porro provident quaerat qui
          quis reprehenderit sequi suscipit ullam veritatis voluptatibus.
        </p>
      </div>
    </div>

  </ng-container>
</ng-container>
