<ng-container *ngIf="productDetails$ | async as detail" [ngSwitch]="detail.state">
  <ng-container *ngSwitchCase="'LOADING'">
    <div class="lg-scr h-full p-20 flex justify-center items-center">
      <h1 class="capitalize text-[var(--app-theme-hover)]">
        loading...
      </h1>
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="'ERROR'">
    <div class="lg-scr mg-top p-10 text-3xl text-red-500">
      Error {{ detail.error }}
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="'LOADED'">

    <!-- Product Details  -->
    <div class="lg-scr mg-top w-full h-full" *ngIf="detail.data as details">

      <div class="grid grid-cols-1 md:grid-cols-2">

        <!-- Images container -->
        <div *ngIf="currentProductDetail" class="p-2.5 flex flex-col gap-1.5">

          <!-- image -->
          <div class="h-40 max-h-auto rounded-sm flex-1">
            <img [src]="currentProductDetail.currImage"
                 alt="image"
                 class="h-full w-full object-cover object-center">
          </div>

          <!-- image carousel -->
          <ul class="p-2 flex gap-1.5 overflow-auto">
            <li
              class="border-none outline-none cursor-pointer bg-transparent min-h-[64px] min-w-[64px] max-h-[75px] max-w-[75px]"
              *ngFor="let img of currentProductDetail.detail.url"
              (click)="currentProductDetail.currImage = img"
            >
              <img class="w-full h-full object-cover object-center" [src]="img" alt="image">
            </li>
          </ul>

        </div>

        <!-- product detail -->
        <div class="p-2.5 flex flex-col gap-2">
          <h1 class="capitalize text-3xl font-bold">{{ details[0].name }}</h1>
          <h2 class="text-xl font-bold">{{ currency(details[0].currency) }}{{ details[0].price }}</h2>
          <h4 class="text-xl font-bold">
            Sku <span class="text-xs opacity-50">{{ sku }}</span>
          </h4>

          <!-- Form -->
          <form class="flex flex-col gap-2" [formGroup]="reactiveForm">

            <!-- Form Contents -->
            <div class="flex gap-1.5 flex-col md:flex-row">
              <!-- Colour -->
              <div>
                <select
                  name="colour"
                  formControlName="colour"
                  class="w-full p-1 rounded-md cursor-pointer border border-solid border-[var(--app-theme)]"
                  (change)="onclickColour($event)"
                >
                  <option value="" disabled [selected]="true">COLOUR</option>
                  <option *ngFor="let d of detail.data" [value]="d.colour">
                    {{ d.colour }}
                  </option>
                </select>
              </div>

              <!-- Size and Qty container -->
              <div class="flex flex-1 gap-1.5" *ngIf="currentProductDetail">
                <!-- Size -->
                <div>
                  <select
                    name="size"
                    class="w-full p-1 rounded-md cursor-pointer border border-solid border-[var(--app-theme)]"
                    formControlName="size"
                    (change)="onselectSize($event)"
                  >
                    <option value="" disabled selected>SIZE</option>
                    <option *ngFor="let variants of currentProductDetail.detail.variants">
                      {{ variants.size }}
                    </option>
                  </select>
                </div>

                <!-- Qty -->
                <div class="flex-1">
                  <ng-container *ngIf="inventory < 0">
                    <select
                      name="qty"
                      class="w-full p-1 rounded-md cursor-pointer border border-solid border-[var(--app-theme)]"
                      formControlName="qty"
                    >
                      <option value="" disabled selected>QUANTITY</option>
                    </select>
                  </ng-container>
                  <ng-container *ngIf="inventory === 0">
                    <select
                      name="qty"
                      class="w-full p-1 rounded-md cursor-pointer border border-solid border-[var(--app-theme)]"
                      formControlName="qty"
                    >
                      <option value="" disabled selected>sold out</option>
                    </select>
                  </ng-container>
                  <ng-container *ngIf="inventory > 0">
                    <select
                      name="qty"
                      class="w-full p-1 rounded-md cursor-pointer border border-solid border-[var(--app-theme)]"
                      formControlName="qty"
                    >
                      <option value="" disabled selected>QUANTITY</option>
                      <option *ngFor="let range of range(inventory); let i = index">
                        {{ i + 1 }}
                      </option>
                    </select>
                  </ng-container>
                </div>
              </div>

            </div>

            <button
              class="w-full p-3 uppercase border border-black hover:bg-black hover:text-white"
              type="submit"
              [disabled]="reactiveForm.invalid"
              [asyncButton]="addToCart()"
            >add to cart</button>
          </form>

          <!-- Description -->
          <div class="w-full break-words">
            <h2 class="w-fit capitalize border-b border-[var(--app-theme)]">description</h2>
            <div
              class="w-full pt-3.5 inline-flex break-all text-sm"
              [innerHTML]="details[0].desc" [class.show]="showMore"
            ></div>

            <!-- *ngIf="details[0].desc.length > 0" -->
            <button class="mt-2 outline-none border-none bg-transparent"
                    (click)="showMore = !showMore">
              <span class="lowercase text-[var(--app-theme-hover)]">
                {{ showMore ? 'Show less' : 'Show More' }}
              </span>
            </button>
          </div>

        </div>

      </div>

    </div>

  </ng-container>
</ng-container>
