<!--<ng-container *ngIf="csrf$ | async as csrf" [ngSwitch]="csrf.state">-->
<!--  <ng-container *ngSwitchCase="'LOADING'"> loading... </ng-container>-->
<!--  <ng-container *ngSwitchCase="'ERROR'"> Error {{ csrf.error }} </ng-container>-->

<!--  <ng-container *ngSwitchCase="'LOADED'">-->

<!--    &lt;!&ndash; Admin Front &ndash;&gt;-->
<!--    <ng-container *ngIf="isAdmin(router.url); else storeFront">-->
<!--      <router-outlet></router-outlet>-->
<!--    </ng-container>-->

<!--    &lt;!&ndash; Store Front &ndash;&gt;-->
<!--    <ng-template #storeFront>-->
<!--      &lt;!&ndash; Get necessary data to improve ui before displaying &ndash;&gt;-->
<!--      <ng-container *ngIf="combine$ | async as combine" [ngSwitch]="combine.state">-->
<!--        <ng-container *ngSwitchCase="'LOADING'"> loading... </ng-container>-->
<!--        <ng-container *ngSwitchCase="'ERROR'"> Error {{ combine.error }} </ng-container>-->

<!--        <ng-container *ngSwitchCase="'LOADED'">-->
<!--          <div>-->
<!--            <div class="lg-scr z-10 border-b border-transparent fixed left-0 top-0 right-0" [ngStyle]="navBg">-->
<!--              <app-navigation></app-navigation>-->
<!--            </div>-->
<!--            <router-outlet></router-outlet>-->
<!--          </div>-->

<!--          <div class="lg-scr mg-top p-5 w-full bg-red-900">-->
<!--            TODO Render footer-->
<!--          </div>-->
<!--        </ng-container>-->
<!--      </ng-container>-->
<!--    </ng-template>-->
<!--  </ng-container>-->
<!--</ng-container>-->

<ng-container *ngIf="csrf$ | async as csrf" [ngSwitch]="csrf.state">
  <ng-container *ngSwitchCase="'LOADING'"> loading... </ng-container>
  <ng-container *ngSwitchCase="'ERROR'"> Error {{ csrf.error }} </ng-container>
  <ng-container *ngSwitchCase="'LOADED'">
    <ng-container *ngIf="activeRoute$ | async as active" [ngSwitch]="active.bool">
      <!-- Admin Route -->
      <ng-container *ngSwitchCase="true">
        <router-outlet></router-outlet>
      </ng-container>

      <!-- Store Front Route -->
      <ng-container *ngSwitchCase="false">
        <!-- Get necessary data to improve ui before displaying -->
        <ng-container *ngIf="combine$ | async as combine" [ngSwitch]="combine.state">
          <ng-container *ngSwitchCase="'LOADING'"> loading... </ng-container>
          <ng-container *ngSwitchCase="'ERROR'"> Error {{ combine.error }} </ng-container>

          <ng-container *ngSwitchCase="'LOADED'">
            <div>
              <div class="lg-scr z-10 border-b border-transparent fixed left-0 top-0 right-0" [ngStyle]="navBg">
                <app-store-front-navigation-navigation></app-store-front-navigation-navigation>
              </div>
              <router-outlet></router-outlet>
            </div>

            <div class="lg-scr mg-top p-5 w-full bg-blue-300">
              TODO Render footer
            </div>
          </ng-container>
          <!-- End of Front Route -->
        </ng-container>
        <!-- End of necessary data -->
      </ng-container>
      <!-- End of Front Route -->
    </ng-container>
    <!-- End of activeRoute$ -->
  </ng-container>
  <!-- End of LOADED -->
</ng-container>
