<div class="flex gap-1.5 mb-2 justify-between">
  <h4 class="txt">Size/Stock <span class="text-red-500">*</span></h4>
  <button type="button" (click)="addInputRow()">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-6 h-6 text-[var(--app-theme)]"
    >
      <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
  </button>
</div>

<div class="mb-1.5" *ngFor="let row of inputRow; let i = index">
  <div class="w-full flex gap-1.5">
    <input
      type="text"
      class="p-2.5 w-full flex-1 inline rounded-sm border border-solid border-[var(--border-outline)]"
      placeholder="size"
      (keyup)="onKeySize($event, i)"
    >
    <input
      type="number"
      class="p-2.5 w-full flex-1 inline rounded-sm border border-solid border-[var(--border-outline)]"
      placeholder="quantity"
      (keyup)="onKeyQty($event, i)"
    >
    <!-- Delete row -->
    <button type="button" (click)="deleteRow(i)">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
    </button>
  </div>
</div>

<!-- Preview and final state -->
<div class="pt-2.5 flex justify-end" *ngIf="inputRow.length > 0">
  <button
    class="capitalize text-white font-bold py-2 px-4 rounded bg-[var(--app-theme-hover)]"
    type="button"
    (click)="informParent()">save</button>
</div>
