<!-- Product Container -->
<ng-container *ngIf="currComponent">
  <div class="flex flex-col h-full py-0">
    <div class="px-0 py-2.5">
      <h1>Products</h1>
    </div>

    <div class="flex-1" *ngIf="data$ | async as data">
      <app-dynamic-table
        [productTemplate]="true"
        [detail]="true"
        [pageData]="data"
        [tHead]="columns"
        (eventEmitter)="infoFromTableComponent($event)"
      ></app-dynamic-table>
    </div>
  </div>
</ng-container>

<!-- Update Product Container -->
<ng-container *ngIf="!currComponent">
  <app-update-product
    [name]="name"
    [price]="price"
    [desc]="desc"
    [category]="category"
    [collection]="collection"
    (parentEmitter)="displayProductContainer($event)"
    (refreshEmitter)="refreshProducts($event)"
  ></app-update-product>
</ng-container>

