<!-- Product Template -->
<ng-container *ngIf="productTemplate">
  <div class="w-full rounded-md overflow-x-auto bg-[var(--white)]">
    <table>
      <thead>
      <tr>
        <th *ngFor="let col of tHead">
          <!-- Do not show Description and ID -->
          <ng-container *ngIf="col === 'desc' || col === 'id'; else other" ></ng-container>
          <ng-template #other>
            {{ col }}
          </ng-template>
        </th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let data of pageData.content">
        <td *ngFor="let head of tHead">
          <ng-container [ngSwitch]="head">

            <!-- Image -->
            <img *ngSwitchCase="'image'" [src]="data[head]" alt="logo">

            <!-- Product Name -->
            <div *ngSwitchCase="'name'">
              <button
                (click)="onclickProduct(data,'product')"
                class="font-bold border-black hover:border-b"
                type="button"
              >{{ data[head] }}</button>
            </div>

            <!-- Do not show Description and ID -->
            <div *ngSwitchCase="'desc'"> </div>
            <div *ngSwitchCase="'id'"> </div>

            <!-- Visible -->
            <div *ngSwitchCase="'visible'"> {{ data[head] }} </div>

            <div *ngSwitchDefault>{{ data[head] }}</div>
            <!-- Default -->

          </ng-container>
        </td>

      </tr>
      </tbody>
    </table>
    <mat-paginator
      [length]="pageData.totalElements"
      [pageSize]="pageData.size"
      [pageIndex]="pageData.number"
      (page)="changePage($event)"
      [pageSizeOptions]="[15, 25, 30]"
      showFirstLastButtons
      aria-label="Select page">
    </mat-paginator>
  </div>
</ng-container>

<!-- None Product Template (no need for pagination) -->
<ng-container *ngIf="!productTemplate">
  <table class="table-auto">
    <thead>
    <tr>
      <th *ngFor="let col of tHead" [ngSwitch]="col">
        <!-- Do not show Description and ID -->
        <ng-container *ngSwitchCase="'id'"></ng-container>
        <ng-container *ngSwitchCase="'created_at'">Created Date</ng-container>
        <ng-container *ngSwitchCase="'modified_at'">Modified Date</ng-container>
        <ng-container *ngSwitchDefault>{{ col }}</ng-container>
      </th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let d of data">
      <td *ngFor="let head of tHead">
        <ng-container [ngSwitch]="head">

          <!-- Image -->
          <img *ngSwitchCase="'image'" [src]="d[head]" alt="logo">

          <!-- Buttons -->
          <div class="flex" *ngSwitchCase="'action'">
            <!-- Edit button -->
            <button (click)="onClick(d,'edit')" class="outline-none border-none bg-transparent">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
              </svg>
            </button>

            <!-- Delete button -->
            <button (click)="onClick(d,'delete')" class="outline-none border-none bg-transparent text-red-500">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
              </svg>
            </button>
          </div>

          <!-- Created and Modified At -->
          <ng-container *ngSwitchCase="'created_at'">{{ date(d[head]) }}</ng-container>
          <ng-container *ngSwitchCase="'modified_at'">{{ date(d[head]) }}</ng-container>

          <!-- Do not show ID -->
          <div *ngSwitchCase="'id'"> </div>

          <!-- Visible -->
          <div *ngSwitchCase="'visible'"> {{ d[head] }} </div>

          <div *ngSwitchDefault>{{ d[head] }}</div>
          <!-- Default -->

        </ng-container>
      </td>
    </tr>
    </tbody>
  </table>
</ng-container>
