<form class="h-full flex flex-col px-0" [formGroup]="form">
  <!-- Title-container -->
  <div class="flex py-2.5 px-0 mb-4">
    <button type="button"
            class="mr-1.5 md:px-2.5 border-[var(--border-outline)] border"
            (click)="routeToProductComponent()"
    >
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
           class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18"/>
      </svg>
    </button>
    <h1 class="cx-font-size w-fit capitalize border-b border-[var(--app-theme)]">create a new product</h1>
  </div>

  <!-- Contents -->
  <div class="flex gap-2.5 max-[945px]:flex-col">
    <!-- Left column -->
    <div class="flex-1">
      <div class="bg-[var(--white)] mb-2.5 p-2.5 rounded-md border border-solid border-[var(--active)]">
        <div class="py-1.5"><h2 class="cx-font-size capitalize">general</h2></div>

        <div class="w-full flex gap-1.5 max-[640px]:flex-col">
          <!-- Product Name -->
          <div class="mb-2 flex-1">
            <h4 class="cx-font-size capitalize"><span class="text-red-500">*</span>name</h4>
            <input
              formControlName="name"
              placeholder="product name"
              type="text"
              class="p-2.5 w-full capitalize flex-1 inline rounded-sm border border-solid border-[var(--border-outline)]"
            />
          </div>

          <!-- NGN Price -->
          <div class="mb-2">
            <h4 class="cx-font-size capitalize"><span class="text-red-500">*</span> NGN price</h4>
            <input
              placeholder="NGN"
              formControlName="ngn"
              type="number"
              class="p-2.5 flex-1 w-full rounded-sm border border-solid border-[var(--border-outline)]"
            />
          </div>

          <!-- USD Price -->
          <div class="mb-2">
            <h4 class="cx-font-size capitalize"><span class="text-red-500">*</span> USD price</h4>
            <input
              placeholder="USD"
              formControlName="usd"
              type="number"
              class="p-2.5 flex-1 w-full rounded-sm border border-solid border-[var(--border-outline)]"
            />
          </div>

        </div>

        <!-- Description -->
        <div class="mb-2">
          <h4 class="capitalize">description <span class="text-red-500">*</span></h4>
          <ckeditor [config]="config" formControlName="desc"></ckeditor>
        </div>
      </div>

      <div class="bg-[var(--white)] mb-2.5 p-2.5 rounded-md border border-solid border-[var(--active)]">
        <div class="py-1.5"><h2 class="cx-font-size capitalize"><span class="text-red-500">*</span> media</h2></div>

        <div class="flex flex-wrap items-center">
          <div class="relative" *ngFor="let image of files">
            <button
              type="button"
              class="x-btn m-0.5 outline-none border-0 text-center cursor-pointer bg-transparent"
              (click)="remove(image)"
              >
              <img [src]="toString(image)" alt="logo"
                   class="m-0 min-h-[9.375rem] min-w-[9.375rem] max-h-[12.5rem] max-w-[12.5rem] object-cover">
            </button>
          </div>

          <div class="upload">
            <input type="file"
                   multiple
                   class="hidden"
                   (change)="onFileSelected($event)"
                   accept="image/*" #fileUpload>

            <button class="flex outline-none border-0 text-center cursor-pointer bg-transparent"
                    type="button"
                    (click)="fileUpload.click()">
              <p *ngIf="files.length < 1">No file uploaded yet.</p>
              <mat-icon>attach_file</mat-icon>
            </button>
          </div>
          <!-- End of upload -->
        </div>
      </div>
      <!-- End of mat-card -->
    </div>

    <!-- Right column -->
    <div class="flex-1">
      <div class="bg-[var(--white)] mb-2.5 p-2.5 rounded-md border border-solid border-[var(--active)]">
        <div class="py-1.5"><h2 class="cx-font-size capitalize">status</h2></div>
        <!-- End of attribute-title -->

        <div class="mb-2">
          <h4 class="cx-font-size capitalize"><span class="text-red-500">*</span> visibility (include in store front)</h4>
          <mat-radio-group aria-label="Select an option" formControlName="visible">
            <mat-radio-button [checked]='true' value="false">false</mat-radio-button>
            <mat-radio-button value="true">true</mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="mb-2" *ngIf="categories$ | async as categories">
          <h4 class="cx-font-size capitalize"><span class="text-red-500">*</span>category</h4>
          <select
            formControlName="category"
            class="w-full p-3 rounded-md cursor-pointer capitalize border border-solid border-[var(--active)]"
          >
            <option value="" disabled selected>select category</option>
            <option
              [value]="option.category"
              *ngFor="let option of categories"
            >{{ option.category }}</option>
          </select>
        </div>
      </div>
      <!-- End of mat-card right -->

      <!-- Colour, Size and Inventory -->
      <div class="bg-[var(--white)] mb-2.5 p-2.5 rounded-md border border-solid border-[var(--active)]">
        <div class="py-1.5"><h2 class="cx-font-size capitalize">Attributes</h2></div>

        <!-- Colour -->
        <div class="mb-2">
          <h4 class="cx-font-size capitalize"><span class="text-red-500">*</span>colour</h4>
          <input
            formControlName="colour"
            placeholder="colour"
            type="text"
            class="p-2.5 w-full flex-1 inline rounded-sm border border-solid border-[var(--border-outline)]"
          />
        </div>

        <!-- Size and Inventory -->
        <div class="pt-2.5">
          <app-size-inventory
            (eventEmitter)="sizeInv($event)"></app-size-inventory>
        </div>
      </div>

    </div>
  </div>

  <!-- Button ctn -->
  <div class="p-2.5 px-1.5 flex justify-between">
    <button mat-stroked-button color="warn" [style.border-color]="'red'" type="button" (click)="clear()">
      cancel
    </button>
    <button
      class="text-white font-bold py-2 px-4 rounded bg-[var(--app-theme)]"
      type="submit"
      [disabled]="!form.valid || files.length === 0 || rows.length === 0"
      [style]="{ 'background-color': form.valid && files.length > 0 && rows.length > 0 ? 'var(--app-theme-hover)' : 'var(--app-theme)' }"
      [asyncButton]="submit()"
    >create</button>
  </div>

</form>
