<form class="h-full flex flex-col py-0 px-2.5" [formGroup]="reactiveForm">
  <!-- Title -->
  <div class="py-2.5 px-0">
    <h1 class="cx-font-size capitalize">create a new category</h1>
  </div>

  <!-- Contents -->
  <div class="flex gap-2.5 max-[945px]:flex-col">
    <!-- Left-column -->
    <div class="flex-1">
      <div class="p-2.5 rounded-md border border-solid border-[var(--active)] bg-[var(--white)]">
        <div class="py-1.5 px-0"><h2 class="cx-font-size capitalize">general</h2></div>

        <div class="text-left">
          <div class="flex flex-col gap-2.5">
            <h4 class="cx-font-size capitalize">name <span class="border-red-600">*</span></h4>
            <input
              formControlName="name"
              placeholder="category name"
              type="text"
              class="p-2.5 w-full flex-1 inline rounded-sm border border-solid border-[var(--border-outline)]"
            />
          </div>
        </div>
        <!-- End of content -->
      </div>
      <!-- End of mat-card left -->
    </div>

    <!-- Right-column -->
    <div class="flex-1">
      <div class="h-full p-2.5 rounded-md border border-[var(--active)] border-solid bg-[var(--white)]">
        <div class="py-1.5 px-0"><h2 class="cx-font-size capitalize">status</h2></div>
        <!-- End of attribute-title -->

        <div class="text-left">
          <div>
            <h4 class="cx-font-size lowercase"><span [style]="'color: red'">*</span>visibility (include in store front)</h4>
            <mat-radio-group aria-label="Select an option" formControlName="visible">
              <mat-radio-button [checked]='true' value="false">false</mat-radio-button>
              <mat-radio-button value="true">true</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <!-- End of content -->
      </div>
    </div>

  </div>

  <!-- Button container -->
  <div class="p-2.5 px-1.5 flex justify-between">
    <button mat-stroked-button color="warn" [style.border-color]="'red'" type="button" (click)="clear()">Cancel</button>
    <button
      type="submit"
      class="capitalize text-white font-bold py-2 px-4 rounded bg-[var(--app-theme)]"
      [disabled]="!reactiveForm.valid"
      [style]="{ 'background-color': reactiveForm.valid ? 'var(--app-theme-hover)' : 'var(--app-theme)' }"
      [asyncButton]="submit()"
    >create</button>
  </div>
</form>
