/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --active: #dddddd;
  --white: #fff;
  --border-outline: #ccc;
  --app-theme: #A3C1AD;
  --app-theme-hover: #75a284;
  --btn-border: 1px solid black;
  --modal-border: 3px solid #dddddd;
  --cards-border: 1px solid #dddddd;
  --input-border: 1px solid #ccc;
  --form-input-background: #F3F3F3;
  --header-shadow: 0 0 5px grey;
  --black: #050505;
  --all-background: hsl(210, 36%, 96%);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 !important;
  text-transform: capitalize !important;
}

html, body, .mat-typography { height: 100%; }

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}

/*html { overflow-x: hidden; }*/

.lg-scr {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.mg-top {
  margin-top: calc(1vh + 70px);
}

.x-btn::after {
  content: 'x';
  position: absolute;
  top: -5px;
  right: -5px;
  width: 20px;
  height: 20px;
  border: none;
  background-color: inherit;
  outline: none;
  text-align: center;
  font-weight: bold;
  color: red;
  cursor: pointer;
}
